include config/*
include doc/*
include eclass/*
include examples/*
include xslt/*
include AUTHORS
include ChangeLog
include CHANGES
include COPYING
include HACKING
include INSTALL
include README
include RELEASE_NOTES
include TODO
recursive-include WebappConfig/tests *
